.containerCartWidget{
    display: flex;
    justify-content: flex-end;
}

.carrito{
    position: relative;
    width: 40px;
    top: 10px;
    right: 10px;
}

.cartItem{
    color: white;
    position: relative;
    right: 15px;
}

.navbar{
    position: absolute;
    width: 100%;
}

.container{
    margin-top: 20px;
}